body {
  background-color: #9da8fa;
}


h1 {
  text-align: center
    color: #001e94
}

header {
  background:#f0fbff;
  color:#001e94;
  padding-top:30px;
  padding-bottom:20px;  
  min-height:100px;
  }


header ul {
  margin: 0;
  padding: 0;
}

header li {
  float: left;
  display: inline;
  padding: 0 15px 0 15px;
}


Header nav{
  float: left;
  margin-top: 10px;
}




