  body {
      text-align: Center;
  background-color: #dee5ff;
}


h1 {
  text-align: Center;
    color: #001e94
    
    
}

header {
  border: 20px solid ;
  background:#cad4fa;
  color:#001e94;
  padding-top:30px;
  padding-bottom:50px;  
  min-height:110px;
  font-family: calibri;
  
  Font-size:150% ;
  }


header ul {
    margin: 0;
  padding: 0;
}

header li {
    
  float: left;
  display: inline;
  padding: 0 15px 0 15px;
}

Header nav {
    
  float: left;
  margin-top: 20px;
}
