  body {
      text-align: Center;
  background-color: #dee5ff;
  font-family: calibri;
    font-size:10vw;
  
 
}


h1 {
  text-align: Center;
    color: #001e94
      font-size:10vw;
    
    
}

header {
  border-bottom: 10px solid ;
  background:#cad4fa;
  color:#001e94;
  padding-top:30px;
  padding-bottom:50px;  
  min-height:110px;
  font-family: calibri;
  font-size:10vw;
  
  
  Font-size:150% ;
  }


header ul {
    margin: 0;
  padding: 0;
}

header li {
    
  float: left;
  display: inline;
  padding: 0 15px 0 15px;
  font-size:10vw;
}

Header nav {
    
  float: left;
  margin-top: 20px;
}

p {
    padding:0 100px 0 100px;
}
footer {
   border-top: 10px solid ;
  background:#cad4fa;
  color:#001e94;
  padding-top:30px;
  padding-bottom:20px;  
  min-height:40px;
  font-family: calibri; 
}
